<div class="spinner">
  <app-loading-spinner  *ngIf="mangaListLoaded"></app-loading-spinner>
</div>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Manga Name</mat-label>
    <input matInput placeholder="Ex. martial-peak/" value="" type="text" id="username" name="username" [(ngModel)]="mangaName">
  </mat-form-field>
  <button (click)="onSubmit(mangaName)" mat-raised-button color="primary">ADD</button>
</form>


<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Manga Name</mat-label>
    <input matInput placeholder="Ex. martial-peak/" value="" type="text" id="searchName" name="searchName" [(ngModel)]="searchName">
  </mat-form-field>
  <button (click)="onSearch(searchName)" mat-raised-button color="primary">Search</button>

</form>

<mat-tab-group>
  <mat-tab label="Manga Results:">

    <div class="spinner">
      <app-loading-spinner  *ngIf="mangaListLoaded"></app-loading-spinner>
    </div>
    <div class="main-container">
      <div class="manga-container" *ngFor="let manga of searchList?.searches; let i = index">
        <div class="list-manga">
          <div class="manga-image">
            <img *ngIf="manga?.mangaPic != null" src="{{manga?.mangaPic}}" alt="Renai Shikou Seitokai">
            <img *ngIf="manga?.mangaPic == null" src="https://avt.mkklcdnv6temp.com/8/s/19-1583499418.jpg"
                 alt="Renai Shikou Seitokai">
          </div>

          <div class="details-manga">
            <div>
              <h2 style="cursor: pointer" class="title-manga">{{manga?.mangaTitle}}</h2>
            </div>

            <div >
              <p class="description">{{manga?.mangaDescription}}</p>
            </div>
          </div>

          <button mat-icon-button color="warn" (click)="loadManga(manga.mangaUrl)">
            <mat-icon>favorite</mat-icon>
          </button>

        </div>

      </div>

    </div>
  </mat-tab>
</mat-tab-group>

