.main-container{
  padding: 10px;
  background-color: #d3d3d3;
  display: flex;
  flex-wrap: wrap;
}

.manga-container{
  display: flex;
}

.list-manga{
  display: flex;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 1px -1px #0003,0 1px 1px #00000024,0 1px 3px #0000001f;
  background: white;
  height: 157px;
}

.manga-image img{
  width: 100px;
  height: 150px;
  padding: 3px;
  box-shadow: 0 2px 1px -1px #0003,0 1px 1px #00000024,0 1px 3px #0000001f;
}

.title-manga{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}

.description{
  width: 200px;
  text-align: justify;
}

p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.title-chapters{
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details-manga{
  display: inline-list-item;
  margin-left: 20px;
}

.spinner{
  top: 50%;
  right: 50%;
  position: absolute;
}

@media only screen and (max-width: 600px){
  .main-container{
    padding: 0px;
    background-color: #d3d3d3;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
  }

  .spinner{
    top: 50%;
    right: 37%;
    position: absolute;
  }

  .manga-container{
    display: flex;
  }

  .details-manga{
    display: inline-list-item;
    margin-left: 5px;
  }
  .title-manga{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 185px;
  }
}

