<div class="title-chapter">
  <h1>{{chapterInfo?.mangaTitle}} </h1>
</div>
<div class="chapter-navigation">
  <button mat-raised-button  (click)="prevChapter()" class="navi-buttons">Prev Chapter</button>
  &nbsp;
  <button mat-raised-button (click)=" nextChapter()" class="navi-buttons">Next Chapter</button>
</div>



<div class="image" *ngFor="let chapterImg of chapterInfo?.chapterImages">
  <img class="image-chapter" style="background-size: cover" src="{{chapterImg.src}}"  alt="Chapter Image--" loading="lazy">
</div>






<div class="chapter-navigation">
  <button mat-raised-button  (click)="prevChapter()" class="navi-buttons">Prev Chapter</button>
  &nbsp;
  <button mat-raised-button (click)=" nextChapter()" class="navi-buttons">Next Chapter</button>
</div>

<div class="title-chapter">
  <h1>{{chapterInfo?.mangaTitle}} </h1>
</div>

