.image{
  display: flex;
  justify-content: center;
}

.chapters-button{
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-indent: -99999px;
  cursor: pointer;
  background: url(https://readmanganato.com/themes/hm/images/btt-black.png) no-repeat 0 0;
}
.title-chapter{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.chapter-navigation{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.navi-buttons{
  //background-color: green;
  //color: greenyellow;
}

.loading{
  display:flex;align-items:center;justify-content:center;
}

//@media only screen and (max-width: 400px) {
//  body {
//    display: flex;
//    justify-content: center;
//    width: 100%;
//    height: auto;
//  }
//}
