.mat-toolbar{
  position: sticky;
  top:0px;
  z-index: 99;
}

.chapters-button{
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-indent: -99999px;
  cursor: pointer;
  background: url(https://readmanganato.com/themes/hm/images/btt-black.png) no-repeat 0 0;
}


