<mat-sidenav-container style="position: absolute;  top: 0;  bottom: 0;  left: 0;  right: 0; background-color: #d3d3d3;">
  <mat-sidenav #sidenav>
    <p>
     <app-navbar></app-navbar>
    </p>
  </mat-sidenav>

  <mat-sidenav-content>
      <mat-toolbar>
        <mat-toolbar-row>

        <button (click)="sidenav.open()" mat-icon-button class="example-icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span routerLink="/">Manga Akiku</span>
        <span class="header-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
        </mat-toolbar-row>
      </mat-toolbar>

      <div >

        <router-outlet  ></router-outlet>
      </div>

  </mat-sidenav-content>

</mat-sidenav-container>



