<div class="spinner">
  <app-loading-spinner  *ngIf="mangaListLoaded"></app-loading-spinner>
</div>


<mat-tab-group>
  <mat-tab label="Main Manga">

    <div class="main-container">
      <div>
      </div>
      <div class="manga-container" *ngFor="let manga of mangaList; let i = index">

        <div class="list-manga">
          <div class="manga-image">
            <img *ngIf="manga?.mangaPic != null" src="{{manga?.mangaPic}}" alt="Renai Shikou Seitokai">
            <img *ngIf="manga?.mangaPic == null" src="https://avt.mkklcdnv6temp.com/8/s/19-1583499418.jpg"
                 alt="Renai Shikou Seitokai">
          </div>

          <div class="details-manga">
            <div>
              <h2 style="cursor: pointer" class="title-manga" (click)="goToMangaInfo(i)">{{manga?.mangaTitle}}</h2>
            </div>

            <div *ngFor="let chapter of manga.chapters; let i = index">
              <mat-list *ngIf="i<3" >
                <span [ngStyle]="{'color':chapter?.chapterReaded === true ? 'green' : 'black' }" (click)="getChapterInfo(chapter.chapterUrl,chapter.id); getChapterImages(chapter.id,chapter?.chapterUrl)"
                       style="cursor: pointer "
                      class="title-chapters" > {{chapter?.chapterTitle}} </span>
                <mat-divider style="background-color: #575555;width: auto"></mat-divider>

              </mat-list>

            </div>
          </div>

          <button mat-icon-button color="warn" (click)="delete(manga?.mangaUrl)">
            <mat-icon>delete</mat-icon>
          </button>


        </div>

      </div>

    </div>
  </mat-tab>
</mat-tab-group>





