/* You can add global styles to this file, and also import other style files */

html { height: 100%; overflow:auto; }
body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}
.header-spacer {
  flex: 1 1 auto;
}
@media only screen and (min-width: 1200px){
  .image-chapter {
    display: flex;
    max-width: 50% !important;
    justify-content: center;
  }



  .home-button{
    color: red;
    position: fixed;
    top: 70px;
    right: 96%
  }

  .chapters-button{
    color: red;
    position: fixed;
    bottom: 40px;
    right: 20px
  }
}

@media only screen and (max-width: 1000px){
  .image-chapter {
    display: flex;
    width: 100% !important;
    justify-content: center;
  }

  .home-button{
    color: red;
    position: fixed;
    top: 70px;
    right: 85%
  }

  .chapters-button{
    color: red;
    position: fixed;
    bottom: 40px;
    right: 20px
  }
}


