.container{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  display: flex;
  background-color: #d3d3d3;
}

.manga-title{
  padding: 10px;
}

.profile-image{
  width: 100px;
  height: 150px;
  padding: 3px;
  box-shadow: 0 2px 1px -1px #0003,0 1px 1px #00000024,0 1px 3px #0000001f;
}

.text-area {
  font-size: 16px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
}

.show {
  overflow: visible;
  height: auto;
}

.details-info{
  display: inline-grid;
  flex-wrap: wrap;
  padding: 10px;
  width: auto;
}

.upd-des{
  display: inline-grid;
  width: 70%;
}


.chapter-info{
  padding: 10px;
  background-color: #d3d3d3;
}

.other-info{
  padding: 10px;
  display: inline-block;
  justify-content: center;
  text-align: center;
}




