<mat-tab-group>
  <mat-tab label="Manga Info">
    <ng-template matTabContent>
      <div class="container">
        <div >
          <img class="profile-image" *ngIf="mangaInfo?.mangaPic != null" src="{{mangaInfo?.mangaPic}}" alt="Renai Shikou Seitokai">
        </div>
        <div class="manga-title">
          <h2>{{mangaInfo?.mangaTitle}}</h2>
          <h2> Status: {{mangaInfo?.status}}</h2>
          <h2>{{mangaInfo?.updated}}</h2>
          <h2>Manga - Loaded: {{getTimeLoaded(1) | date:'medium'}} </h2>

        </div>

        <div class="details-info">

          <div class="upd-des">

            <div class="manga-description">
<!--                            <p>{{mangaInfo.description}}</p>-->
            </div>
          </div>


        </div>


      </div>
      <div class="other-info">
        <div>
          <p>
            {{(showMore) ? mangaInfo?.description : mangaInfo?.description | slice:0:150}}
            <span *ngIf="!showMore">...</span>
            <a href="javascript:;" *ngIf="!showMore" (click)="showMore=true">[Show More]</a>
            <a href="javascript:;" *ngIf="showMore" (click)="showMore=false">[Show Less]</a>
          </p>
        </div>
      </div>

    </ng-template>
  </mat-tab>
  <mat-tab label="Chapters">
    <ng-template matTabContent>

      <div class="chapter-info" *ngFor="let chapter of mangaInfo?.chapters; let i = index">
        <mat-list>

          <h2 style="cursor: pointer;text-align: center" [ngStyle]="{'color':chapter?.chapterReaded === true ? 'green' : 'black' }"
              (click)="getChapterInfo(chapter.chapterUrl,chapter.id);getChapterImages(chapter.id,chapter?.chapterUrl)">
            {{chapter.chapterTitle}}
          </h2>
          <mat-divider style="background-color: #575555;width: auto"></mat-divider>

        </mat-list>

      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>


